#main_content {
    display: flex;
    flex-direction: row;
}

#cities {
    float: left;
    flex-grow: 1;
    top: 20px;
    left: 10px;
    padding: 8px 0;
}

.city-text {
    font-family: "Lato", sans-serif;
    padding: 4px;
    background: #eee;
    margin: 2px;
    border-radius: 6px;
}

#locations {
    height: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 5;
    justify-content: space-evenly;
}

.location-card {
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: antiquewhite;
}

.measurement {
    background-color: #ffc33f;
    border-radius: 10px;
    margin: 2px;
    padding: 4px;
}

.parameter {
    border-radius: 6px;
    padding: 4px;
}

#sorting {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

#plusMinus{
    float: right;
}

.button {
    background-color: #eeeeee;
    min-width: 15px;
    padding: 6px;
    border-radius: 6px;
    margin:4px;
}